
:root{
    --black: #04040C;
    --whithe: #728CBF;
    --accent: #00f7ff;
    --normal-size: 20px;
}

*{
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: var(--whithe);
}

body{
    background-color: var(--black);
}

header{
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0px 0px 20px black;
}header a{
    text-decoration: none;
    font-size: var(--normal-size);
    margin-right: 10px;
}header a:hover{color: var(--accent);}

#infos{
    background-color: var(--whithe);
    position: fixed;
    width: 120px;
    height: 50px;
    left: 10px;
    bottom: 10px;
    font-size: var(--normal-size);
    border-radius: 10px;
    display: grid;
    place-items: center;
}#infos *{
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: var(--black);
}

#btnCreateRoom{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: var(--whithe);
    color: var(--black);
    font-size: 30px;
    border: 0px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}#btnCreateRoom:hover{
    background-color: var(--accent);
    transform: rotateZ(90deg);
}

#roomList{
    background-color: var(--black);
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 0px 10px var(--accent);
    border-radius: 10px;
}#roomList *{
    margin: 20px;
}

#btnRoom{
    width: 100px;
    padding: 10px;
    word-wrap: break-word;
    font-weight: bold;
    background-color: var(--whithe);
    color: var(--black);
    font-size: var(--normal-size);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.2s ease;
}#btnRoom:hover{
    transform: translateY(-5px);
    cursor: pointer;
    background-color: var(--accent);
}